.home {
  background-color: $color-primary-white;
  grid-column: center-start / center-end;
  padding: 15rem 0rem;

  .home-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));

    gap: 7rem;

    &__homes {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 2rem;
      row-gap: 3.5rem;
      background-color: $color-grey-light-1;

      &__image {
        grid-column: 1 / -1;
        grid-row: 1 / 2;

        img {
          width: 100%;
        }
      }

      &__btn {
        grid-column: 1 / -1;
        width: 100%;

        .primary-btn {
          display: inline-block;
          width: 100%;
        }
      }

      &__name {
        padding: 1.2rem;
        font-size: 1.6rem;
        background-color: $color-secondary;
        text-align: center;
        color: $color-primary-white;
        grid-column: 1 / -1;
        grid-row: 1/2;
        width: 80%;
        justify-self: center;
        display: grid;
        align-self: end;
        transform: translateY(2rem);
      }

      &__fav {
        grid-column: 2 / -1;
        grid-row: 1/2;
        justify-self: end;
        position: relative;
        right: 2rem;
        top: 2rem;

        i {
          font-size: 3rem;
        }
      }

      &__country,
      &__rooms {
        margin-top: 2rem;
      }

      &__country,
      &__rooms,
      &__square-meter,
      &__price {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1rem;
        align-self: flex-start;
        font-size: 1.5rem;
        align-items: center;
        font-weight: 500;
        margin-left: 1.5rem;

        color: $color-secondary;
        font-family: $font-primary;
      }

      .home-section__icon {
        color: $color-grey-dark-2;
        font-size: 1.8rem;
      }

      .home-section__features {
        font-weight: 500;
        font-size: 1.8rem;
        color: $color-grey-dark-2;
        font-family: $font-primary;
      }

      &__country {
        text-transform: uppercase;
      }
    }
  }
}
