.stories-section {
  &__picture {
    grid-column: full-start / col-4-end;
    

    @media only screen and (max-width: $bp-large-mobile) {

      
         grid-column: full-start / full-end;

    }

    &_images {
      
        
        height: 100%;
        
         background-image: linear-gradient(to right bottom, 
    rgba($color-primary,0.5) , rgba($color-primary,0.5) ), url('../img/back.jpg');




      display: grid;
      grid-template-columns: repeat(6, 1fr);
      grid-template-rows: repeat(6, 1fr);
      


      &__center {
        grid-column: 2/6;
        grid-row: 2/6;
         width: 100%; 
         z-index: 1;
       
        align-items: center;

         @media only screen and (max-width:$bp-large-mobile) {

        border: 2px solid white;
      
         }
        
      }

      &__side {
        grid-column: 4/6;
        grid-row: 4/6;
        width: 170%;
        height: 130%;
       z-index: 5;
       transform: translateY(-4rem);

         @media only screen and (max-width:$bp-large-mobile) {
 width: 140%;
        height: 140%;
        border: 2px solid white;
      
         }
       
      }
    }
  }

  &__text {
    grid-column: col-5-start / full-end;
    padding: 6rem 7vw;
    display: grid;
    align-content: center;

     @media only screen and (max-width:$bp-large-mobile) {

         grid-column: full-start / full-end;
         text-align: center;
         

    }
    

    &__heading-5 {
      text-transform: uppercase;
    }

    &__heading-2 {
      font-family: $font-display;
      font-size: 4rem;
      color: $color-grey-dark-1;
      grid-column: 2/-1;
    }

    &__sub__text {
      font-size: 1.5rem;
      font-family: $font-primary;
      color: $color-grey-dark-2;
      font-style: italic;
    }

    
  }
}